* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100%;
}

header {
  display: flex;
  background-color: #3c3a39;
  margin: 0;
  color: whitesmoke;
  height: 150px;
}

#logo {
  margin: 40px 20px;
  color: whitesmoke;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
  height: 24px;
}

#hamburger {
  margin: 40px 20px;
  margin-left: auto;
  width: 18px;
  height: 12px;
}

main{
  margin: 0 0;
  flex-direction: column;
}

section{
  margin: 0 0;
  padding: 20px 20px;
  height: 650px; 
}

p {
  margin: 10px 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.intro{
  background-image: url("imgs/bgdvetor.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: auto 450px;
  background-color: #1C1A19;
  margin: 0;
  
}

.intro h1 {
  color: #ff6b00;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-family: 'Crete Round', sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
}

.intro h3 {
  font-size: 24px;
  line-height: 32px;font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  padding-left: 20px;
}

.intro p{ 
  color: #FFFFFF;
}

ul {
  list-style: none;
  margin-left: 50px;
  justify-content: space-between;
  width: 200px;
}

h2{
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  width: 80%;
  height: 83px;
  margin: 10% 10%;
  padding-left: 24px;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  line-height: 52px;
}

div.recent{
  height: 295px;
}

h2.recent {
  color: #1C1A19;
  border-bottom: 2px solid #212121;
  
}

section.recent {
  background-color: #FFFFFF;
  background-image: url(imgs/recent_work.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 500px;
}

h2.story{
  color: #091E42;
  width: 600px;
}

.story p{
  color: #091E42;
  width: 327px;
  height: 127px; 
}

.featured{
  background-image: url(imgs/bgdimg.png);
  background-repeat: no-repeat;
  background-position: center;
}

.grid{
  display: grid;
}

.flex {
  display: flex;
}



